*,
::before,
::after {
    box-sizing: border-box;
}

:root {
    --bs-body-font-family: "DM Sans", sans-serif;
    --bs-body-color: #080415;
    --bs-body-color-rgb: #080415;
    --bs-secondary-bg: #FBFAFF;
    --bs-secondary-color: #51586A;
    --bs-border-violet: #5D3BEE;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.8rem;
}

a {
    display: inline-block;
    text-decoration: none;
}

/* ================ Common ================ */
.container {
    padding: 0 !important;
}

.title {
    font-size: 5.6rem;
    font-weight: 500;
    line-height: 1.17;
}

.desc {
    line-height: 1.667;
    color: var(--bs-secondary-color);
}

.btn-layout {
    width: 170px;
    height: 62px;
}

.btn-text {
    font-weight: 700;
    line-height: 1.667;
    /* 166.667% */
    color: #FDFDFD;
}

[class^="main__"]:not(.main__hero) {
    margin-top: 100px;
}

/* ================ Header ================ */
.header {
    padding-top: 20px;
    background: var(--bs-secondary-bg);
}

.header__container {
    width: 1330px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.header__img-cover {
    width: 46px;
    height: 46px;
    border: 1px solid #DCD4FC;
}

.header__contact--email {
    font-size: 2.2rem;
    font-weight: 500;
    color: var(--bs-body-color);
}

.header__navbar {
    gap: 43px;
}

.nav--link {
    font-size: 1.8rem;
    transition: color 0.2s;
    color: var(--bs-secondary-color);
}

.nav--link:hover {
    color: var(--bs-body-color);
}

/* ================ Hero ================ */
.main__hero {
    background: var(--bs-secondary-bg);
    padding-top: 44px;
}

.hero__container {
    position: relative;
}

.hero--img {
    position: relative;
    bottom: -10px;
    width: 514px;
    height: 705px;
    flex-shrink: 0;
}

.hero--bg {
    left: -220px;
    z-index: 0;
    scale: 1.2;
}

.hero--title {
    margin-bottom: 2rem;
    font-size: 8rem;
    font-weight: 500;
    line-height: 0.95;
    /* 95% */
    letter-spacing: -3.2px;
}

.hero__content {
    margin-top: 137px;
}

.hero--desc {
    margin-bottom: 5rem;
    width: 370px;
}

.hero--btn {
    padding: 16px 36px;
    background: var(--bs-border-violet);
}

.hero--link {
    font-weight: 700;
}

.hero--link:hover {
    text-decoration: underline;
}

.hero__follow-cover {
    margin-top: 109px;
}

.hero--link-social {
    padding-bottom: 10px;
    margin-right: 20px;
}

.hero--link-social:last-of-type {
    margin-right: 0;
}

/* ================ Social ================ */
.social__title {
    font-size: 4.2rem;
    line-height: 1.19;
    letter-spacing: -1.68px;
}

.social__title::before {
    position: absolute;
    top: 22px;
    left: calc(-1 * (86px + 13px));
    content: "";
    width: 86px;
    height: 2px;
    background-color: var(--bs-border-violet);
}

.social__col {
    gap: 36px;
}

/* ================ Services ================ */
.services__desc {
    max-width: 43%;
}

.services__card {
    margin-top: 60px;
}

.services__card-item {
    cursor: pointer;
    padding: 32px 42px;
    background: #FBFAFF;
}

.services__card--title {
    font-size: 3.2rem;
    font-weight: 500;
    line-height: 1.25;
    /* 125% */
    letter-spacing: -1.28px;
}

.services__card--desc {
    line-height: 1.667;
    /* 166.667% */
    color: var(--bs-secondary-color);
}

.services__card-icon--cover {
    display: flex;
    justify-content: center;
    width: 74px;
    height: 74px;
    border: 1px solid #EFEDF3;
    margin-bottom: 22px;
}

.services__card-icon--light-ball,
.services__card-icon--pen,
.services__card-icon--phone {
    scale: 1.2;
}

.services__card-icon--light-ball {
    margin-top: 10px;
}

.services__card-icon--pen {
    margin-top: 15px;
}

.services__card-icon--phone {
    margin-top: 15px;
    margin-right: 5px;
}

/* ================ Work ================ */
.main__work {
    background: var(--bs-border-violet);
    padding: 86px 0;
}

.work__blog-bg {
    top: -104px;
    right: 26px;
    scale: 1.3;
    z-index: 1;
    width: 430px;
    height: 380px;
    rotate: 270deg;
}

.work__title,
.work__desc {
    color: #fff;
}

.work__title {
    width: 35%;
}

.work__desc {
    width: 30%;
    margin-left: 160px;
    opacity: 0.7;
}

.word__blog {
    margin-top: 70px;
}

.work__blog-item {
    padding: 23px 0;
    padding-left: 34px;
    background: #fff;
}

.work__blog-item-left {
    padding: 20px 0;
    z-index: 0;
}

.work__blog-title {
    font-size: 3.2rem;
    font-weight: 500;
    line-height: 1.25;
    letter-spacing: -1.28px;
    margin-bottom: 10px;
}

.work__blog-img {
    width: 246px;
    height: 187px;
    flex-shrink: 0;
    margin-left: auto;
    margin-right: 23px;
    z-index: 3;
}

.work__blog-desc {
    font-size: 1.6rem;
    line-height: 1.4375;
    /* 143.75% */
    margin-bottom: 20px;
    color: var(--bs-secondary-color);
}

.work__blog-link {
    font-weight: 700;
    line-height: 1.6667;
    color: var(--bs-body-color);
}

.work__blog-link:hover {
    text-decoration: underline;
}

.work__btn {
    display: block;
    padding: 16px 34px;
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    color: var(--bs-body-color);
    background: #fff;
}

/* ================ About ================ */
.about__sub-title--text {
    font-size: 3.2rem;
    font-weight: 500;
    line-height: 1.25;
    letter-spacing: -1.28px;
    color: var(--bs-border-violet);
}

.about__desc {
    width: 45%;
}

.about__info {
    margin-top: 70px;
}

.about__info {
    gap: 156px;
}

.about__info-text {
    letter-spacing: 1.68px;
}

.about__info-text::before {
    position: absolute;
    bottom: 10px;
    left: 0;
    content: "";
    width: 100%;
    height: 3px;
    background: var(--bs-body-color);
}

.about__info::after {
    position: absolute;
    top: -20px;
    left: 0;
    content: "";
    width: 100%;
    height: 1px;
    background: var(--bs-body-color);
    opacity: 0.2;
}

.about__info::before {
    position: absolute;
    bottom: -20px;
    left: 0;
    content: "";
    width: 100%;
    height: 1px;
    background: var(--bs-body-color);
    opacity: 0.2;
}

.about__video {
    margin-top: 70px;
}

.about__video-item {
    width: 100%;
}

.about__video-btn {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* ================ Comment ================ */
.comment__title {
    margin-top: 50px;
    margin-bottom: 20px;
}

.comment__bq {
    margin-top: 60px;
}

.blockquote__title {
    margin-bottom: 36px;
    max-width: 55%;
    font-size: 2.4rem;
    line-height: 1.667;
    color: var(--bs-secondary-color);
}

.blockquote__author-avt--bg {
    width: 40px;
    height: 40px;
    background: #F29764;
}

.blockquote__author-avt {
    width: 45px;
    height: 74px;
    object-fit: cover;
    transform: translate(4px, 5px);
}

.blockquote__author--sub-tile {
    margin-bottom: 40px;
    font-size: 1.6rem;
    line-height: 1.8125;
    color: var(--bs-secondary-color);
}

.comment__circle {
    width: 16px;
    height: 16px;
    background: #CBC9D0;
}

.comment__circle:nth-of-type(3) {
    border: 3px solid #fff;
    outline: 1px solid var(--bs-border-violet);
    background: var(--bs-border-violet);
}